.httr-oauth

# ignore supplementary folders
data/
dev/
tempdata/

# ignore data files 
*.RDS
*.geojson
*.Rhistory
*.Rapp.history
equity_profile.Rproj
.Rproj.user/

# ignore shinyapps connection
cville-region/rsconnect/