.httr-oauth

# ignore supplementary folders
cf/
data/
dev/
tempdata/

# ignore data files and image files
*.RDS
*.geojson
*.Rdata
*.png
*.Rhistory
*.Rapp.history
equity_profile.Rproj
.Rproj.user/

# ignore shinyapps connection
cville-region/rsconnect/
cville-region/www/