# ignore supplementary folders
data/
dev/
tempdata/
datatrends/

# ignore data files
*.RDS
*.geojson
*.RData
data.zip

# ignore project files
.DS_Store
.Rhistory
.Rproj.user/

# ignore shinyapps connection
cville-region/rsconnect/*
